.Navbar {
  ul {
    li {
      list-style-type: none;
      display: inline;
      margin: 0 3em;
      border-radius: 1px;
      padding: 1em 2em;
      a {
        color: black;
        font-family: Arial, Helvetica, sans-serif
        
      }
    }
  }
}